<nav class="navbar">
    <div class="navbar__inner">
        <span class="nav-logo">Yu-Gi-Oh!</span>
        <ul class="nav-links">
            <li class="nav-links__link info-icon">
                <i class='bx bxs-info-circle'></i>
            </li>
        </ul>
    </div>
</nav>