<nav class="navbar">
    <div class="navbar__inner">
        <a href="/">
            <span class="nav-logo">Yu-Gi-Oh!</span>
        </a>
        <ul class="nav-links">
            <li class="nav-links__link">
                <i class='bx bx-search'></i>
            </li>
            <li class="nav-links__link">
                <i class='bx bxs-info-circle'></i>
            </li>
        </ul>
    </div>
</nav>