<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="search-container">
            <div class="input-container">
                <!-- This is where the search bar will go -->
            </div>
            <div class="filters-container">
                <!-- This is where the user can filter the results by card type -->
            </div>
            <div class="cards-wrapper">
                <!-- Cards will show up here when the user makes a search -->
            </div>
        </div>
    </div>
</div>