:root {
  --large-heading: 40px;
}

.large-heading {
  font-size: var(--large-heading);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #001B35;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

main {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: white;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  display: table;
}

.navbar {
  width: 100%;
  background-color: #001427;
  -webkit-box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.3);
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__inner .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.navbar__inner .helper img {
  width: 160px;
  vertical-align: middle;
}

.navbar .nav-logo {
  font-size: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.navbar .nav-links__link {
  cursor: pointer;
  font-size: 30px;
}

.navbar .nav-links__link .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.navbar .nav-links__link .content i {
  line-height: 49px;
}

.navbar .nav-links__link .content input {
  padding: 12px 15px;
  border-radius: 6px;
  background-color: #0A243D;
  border: 2px solid #385979;
  color: white;
  font-family: inherit;
  font-size: 16px;
  width: 350px;
}

.navbar .nav-links__link:nth-child(1) > div:nth-child(1) > i:nth-child(1) {
  margin: 0 10px;
}

.navbar .nav-links__link:nth-child(2) > div:nth-child(1) > i:nth-child(1) {
  margin: 0 0 0 10px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.search .search-bar {
  width: 100%;
  margin-right: 10px;
}

.search .search-bar__container input {
  background-color: #0A243D;
  border: 2px solid #385979;
  padding: 15px 20px;
  width: 100%;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  color: white;
}

.search .search-button__container {
  height: 55px;
}

.search .search-button__container button#search-button {
  background-color: #0A243D;
  border: 2px solid #385979;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  height: 55px;
  color: white;
}

.filter-controls__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-controls__item {
  padding: 10px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filter-controls__item:first-child {
  padding-left: 0;
}

.filter-controls__item:last-child {
  padding-right: 0;
}

.filter-controls__item__inner {
  padding: 20px;
  white-space: nowrap;
  background-color: #0A243D;
  border-radius: 8px;
  border: 2px solid #385979;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-controls__item__inner.enabled {
  background-color: #385979;
}

.card-grid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0.75rem 0;
}

.card-grid__item {
  position: relative;
  width: 106px;
  height: 155px;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  margin: 5px;
  cursor: pointer;
}

.card-grid__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-grid__item__content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card-grid__item__content-wrapper > .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #385979;
  background-color: #0A243D;
}

.card-grid__item__content-wrapper > .content img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  background-color: rgba(0, 20, 40, 0.5);
  border-radius: 16px;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
}

.card__image {
  padding: 30px;
}

.card__image img {
  width: 250px;
  height: 365px;
}

.card__image .alt-artwork-controls {
  text-align: center;
  padding: 10px 0;
}

.card__image .alt-artwork-controls .btn-left, .card__image .alt-artwork-controls .btn-right {
  display: inline-block;
  background-color: #0A243D;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.card__details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
}

.card__title {
  margin-bottom: 15px;
}

.card__attribute-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-bottom: 15px;
}

.card__attribute-level img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.card__attribute-level span {
  margin-right: 10px;
}

.card__attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__type {
  color: white;
  margin-bottom: 15px;
}

.card__description {
  margin-bottom: 15px;
  color: white;
}

.card__atk-def {
  color: white;
}

.card__atk, .card__def {
  display: inline;
}

/**
* Mobile Devices: 320px - 480px
* Tablet Devices: 481px - 768px
* Small Screens: 769px - 1024px
* Large Devices: 1025px - 1200px
* Extra Large Devices: 1201px and above
**/
@media only screen and (max-width: 768px) {
  .navbar__inner .nav-links__link:nth-child(1) {
    display: none;
  }
  .card__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__image {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */